body {
  font-family: 'Montserrat', sans-serif;
}

#board-frame {
  margin: 0 auto;
  max-width: 418px;
  padding: 5px;
  border-radius: 2.5%;

  .square {
    background-color: #ddd;
    width: 100px;
    height: 100px;
    border-radius: 10%;
    border: 1px solid black;
    margin: 0 -2px;
    text-align: center;
    line-height: 100px;
    display: inline-block;
    font-size: 2.4em;

    /* Chrome, Safari, Opera */
    @-webkit-keyframes entry {
      0%   {transform: scale(0.9,0.9)}
      100% {transform: scale(1,1);}
    }
    /* Standard syntax */
    @keyframes entry {
      0%   {transform: scale(0.9,0.9)}
      100% {transform: scale(1,1);}
    }

    /* Chrome, Safari, Opera */
    @-webkit-keyframes collision {
      0%   {transform: scale(1,1)}
      100% {transform: scale(1.2,1.2);}
    }
    /* Standard syntax */
    @keyframes collision {
      0%   {transform: scale(1,1)}
      50%  {transform: scale(1.2,1.2);}
      100% {transform: scale(1,1);}
    }
  }

  .new-piece {
    -webkit-animation: entry 0.4s; /* Chrome, Safari, Opera */
    animation: entry 0.4s;
  }
  .collision-point {
    -webkit-animation: collision 0.6s; /* Chrome, Safari, Opera */
    animation: collision 0.6s;
  }

  .sq-0 {
    color: #ddd;
    .square-text {
      visibility: hidden;
    }
  }
  .sq-2 {
    background-color: #746A8A;
    color: white;
  }
  .sq-4 {
    background-color: #566EBD;
    color: white;
  }
  .sq-8 {
    background-color: #22B9E6;
    color: white;
  }
  .sq-16 {
    background-color: #317F00;
    color: white;
  }
  .sq-32 {
    background-color: #FFDBB2;
  }
  .sq-64 {
    background-color: #FFAB4C;
  }
  .sq-128 {
    background-color: #FF9319;
  }
  .sq-256 {
    background-color: #FF8700;
  }
  .sq-512 {
    background-color: #F4F609;
  }
  .sq-1024 {
    background-color: #F62CEE;
  }
  .sq-2048 {
    background-color: #EA1F2F;
  }
}
