body {
  font-family: 'Montserrat', sans-serif;
}

#board-frame {
  margin: 0 auto;
  max-width: 418px;
  padding: 5px;
  border-radius: 2.5%;

  .squareframe {
    border: 1px solid lightgrey;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 0 -1px;
    background-color: #eee;
  }

  .square {
    width: 100px;
    height: 100px;
    border-radius: 10%;
    border: 1px solid black;
    margin: 0 -2px;
    text-align: center;
    line-height: 100px;
    display: inline-block;
    font-size: 2.4em;


    /*NOTE ON KEYFRAMES*/
    /*MY UNDERSTANDING IS THAT:*/
      /*@-webkit-keyframes IS FOR CHROME, SAFARI, & OPERA*/
      /*AND THAT @keyframes IS FOR OTHER BROWSERS E.G. FIREFOX & SAFARI*/

    /** appear **/
    @-webkit-keyframes appear {
      0%   {-webkit-transform: scale(0.9,0.9)}
      100% {-webkit-transform: scale(1,1);}
    }
    @keyframes appear {
      0%   {transform: scale(0.9,0.9)}
      100% {transform: scale(1,1);}
    }

    /** collision **/
    @-webkit-keyframes collision {
      0%   {-webkit-transform: scale(1,1)}
      100% {-webkit-transform: scale(1.2,1.2);}
    }
    @keyframes collision {
      0%   {transform: scale(1,1)}
      50%  {transform: scale(1.2,1.2);}
      100% {transform: scale(1,1);}
    }

    /** SLIDES **/
    @-webkit-keyframes slideRightOne {
      0%   {-webkit-transform: translateX(0);}
      100% {-webkit-transform: translateX(102px);}
    }
    @keyframes slideRightOne {
      0%   {transform: translateX(0);}
      100% {transform: translateX(102px);}
    }

    @-webkit-keyframes slideLeftOne {
      0%   {-webkit-transform: translateX(0);}
      100% {-webkit-transform: translateX(-102px);}
    }
    @keyframes slideLeftOne {
      0%   {transform: translateX(0);}
      100% {transform: translateX(-102px);}
    }

    @-webkit-keyframes slideUpOne {
      0%   {-webkit-transform: translateY(0);}
      100% {-webkit-transform: translateX(-102px);}
    }
    @keyframes slideUpOne {
      0%   {transform: translateY(0);}
      100% {transform: translateY(-102px);}
    }

    @-webkit-keyframes slideDownOne {
      0%   {-webkit-transform: translateY(0);}
      100% {-webkit-transform: translateX(102px);}
    }
    @keyframes slideDownOne {
      0%   {transform: translateY(0);}
      100% {transform: translateY(102px);}
    }
  }

  .new-piece {
    animation: appear 0.25s;
  }
  .collision-point {
    animation: collision 0.25s;
  }

  .sq-0 {
    color: #ddd;
    visibility: hidden;
    .square-text {
      visibility: hidden;
    }
  }
  .sq-2 {
    background-color: #746A8A;
    color: white;
  }
  .sq-4 {
    background-color: #566EBD;
    color: white;
  }
  .sq-8 {
    background-color: #22B9E6;
    color: white;
  }
  .sq-16 {
    background-color: #317F00;
    color: white;
  }
  .sq-32 {
    background-color: #FFDBB2;
  }
  .sq-64 {
    background-color: #FFAB4C;
  }
  .sq-128 {
    background-color: #FF9319;
  }
  .sq-256 {
    background-color: #FF8700;
  }
  .sq-512 {
    background-color: #F4F609;
  }
  .sq-1024 {
    background-color: #F62CEE;
  }
  .sq-2048 {
    background-color: #EA1F2F;
  }
}
