<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />

    <script type="text/javascript" src="js/app.js"></script>

    <title>2048</title>
  </head>

  <body>
    <h3>2048</h3>
    <%= yield %>
  </body>
</html>
